
.banner {
    margin-left: calc(50% - 50vw);
    width: 100vw; height: 62.5vmin;
    min-height: 15em;
    background: linear-gradient(#000, transparent, #000),
        var(--img) 50%/ cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}
.banner:nth-of-type(1) {
    --img:  url("../pictures/MyDesk2.jpg");
}


.posts-frame{
    background-image: linear-gradient(to right bottom, #ffedcb, #c5cead, #90ae98, #638c86, #436a72);
	background-size: 100%;
	background-repeat: no-repeat;
    display: grid;
    position: relative;
    grid-area: 1 / 2 / 3;
    grid-template-columns: 100%;
}
body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #436A72 75%);
}


/* Elements for the box in which the posts will be */
#posts-container{
    background-color: transparent;
}

.post-container    {
    display: block;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.2);

    grid-column-start: 1;
    grid-column-end: 3;

    margin: 5%;
    padding: 30px 60px;
}

/* ---- Actual posts */
.post{
    display: flex;
    align-items: flex-start;
}

.img-content{
    margin-right: 50px;
}
.post img{
    border-radius: 5px;
    width: 350px;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}

.text-content{
    margin-top: -25px;
}

.text-content h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px; /* adjust as needed */
}

.text-content p {
    padding-left: 10px;
}

/* Elements for the box in which the ads will be */
.ads-box{
    display: block;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.2);

    grid-column-start: 3;
    grid-column-end: 3;

    margin-top: 15%;
    padding: 30px 60px;
    margin-right: 15%
}
