.posts-frame{
    background-image: linear-gradient(to right bottom, #ffedcb, #c5cead, #90ae98, #638c86, #436a72);
	background-size: 100%;
	background-repeat: no-repeat;
    display: grid;
    position: relative;
    grid-area: 1 / 2 / 3;
    grid-template-columns: 80% 1% 24%;
}
body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
    overflow-x: hidden;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #436A72 75%);
}


/* Elements for the box in which the posts will be */
#posts-container{
    background-color: transparent;
    display: flex; /* Added to place the date and blog post next to each other */
    flex-wrap: wrap; /* Added to wrap the posts when the viewport is small */
    margin-bottom: 4%;
}

.post-container    {
    display: block;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.2);

    grid-column-start: 1;
    grid-column-end: 2;

    margin: 2% 5% 0% 5%;
    padding: 20px;
    width: 100%; /* Added to occupy full width */
}

/* ---- Actual posts */
.post{
    display: flex;
    align-items: flex-start;
}

.img-content{
    margin-right: 35px;
}
.post img{
    border-radius: 5px;
    width: 300px;
    height: 220px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}

.text-content{
    margin-top: -15px;
}

.text-content h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0px; /* adjust as needed */
  font-family: 'PlayFair', Arial, sans-serif;
}

.text-content p {
    padding-left: 0px;
    font-family: 'PlayFair', Arial, sans-serif;
    font-size: 20px;
}

/* Elements for the box in which the ads will be */
.date-box{
    display: block;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.2);

    grid-column-start: 3;
    grid-column-end: 3;

    margin: 7% 5% 0% 5%;
    padding: 20px;
    width: 50%; /* Added to occupy full width */
    height: 220px;

    position: sticky;
    top: 20px;
}

.date-box div{
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  color: black;
}

/* _________________Odometer_____________________ */

.timer-part{
  overflow-y:hidden;
  background-image: linear-gradient(white, #e0e0e0);
  border: 1px solid #dfdfdf !important;
  height: 100px;
}
@keyframes fade-out{
  from{
    opacity: 1
  }
  to{
    opacity: 0
  }
}
.fade-out{
  animation-name: fade-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fade-in{
  from{
    opacity: 0
  }
  to{
    opacity: 1
  }
}
.fade-in{
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}